<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./bootstrap.ejs %>
  </head>
  <body>
    <% include ./header.ejs %>
    <div class="container mt-5 pt-5">
      <div class="jumbotron">
        <h1 class="display-4">nodejs!</h1>
        <p class="lead">nodejs课程管理实战项目</p>
        <hr class="my-4">
        <p>nodejs+mysql+bootstrap4</p>
      </div>
    </div>
  </body>
</html>
