<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./bootstrap.ejs %>
  </head>
  <body>
    <% include ./header.ejs %>
    <div class="container mt-5 pt-5">
      <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="./classList" role="button">查看课程</a>
        </p>
      </div>
    </div>
  </body>
</html>
<script>
  $.ajax({
    url:"/queryAll",
    type:"GET",
    success:function(res){
      console.log(res)
    }
  })
</script>
